.Question-question{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 28px;
    text-align: left;
 
   padding: 15px 10px;
   justify-content: center;
   background-color: #212336;
    margin-top: 10px;
    padding: 10px;
  
}
